@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


body {
  background-color: rgb(54, 137, 255);
}

#app {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 50px;
  width: 90%;
}

.hide {
  display: none;
}

.jumbotron{
  background-image: url('https://help.redbubble.com/hc/article_attachments/360061339971/PAWA025_Pan_AmStylized_Wordmark_With_Globe_Mid1950s-1960s.jpg');
  background-size: cover;
}